* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background: #f1f1f1;
}

/* services_section */
#service {
    background: linear-gradient(to left top, #0009 80%, rgba(61, 21, 90, .709804)),url(../../public/images/service.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#service > .service_header {
    padding: 15px;
    color: #fff;
    border-bottom: 1px solid pink;
    width: 12%;
    margin: 0px auto;
    padding-top: 6rem;
}
#service > .service_head_content {
    text-align: center;
    padding: 15px;
    font-size: 2.3em;
    color: #fff;
    width: 50%;
    margin: 0px auto;
}
.service_container {
    color: #fff;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 90%;
    margin: 0px auto;
    line-height: 1.9em;
    padding: 4rem 0rem 4rem 0rem;
}
.service_container > .service_container_wrapper {
    margin: 10px;
    padding: 10px;
}
.service_container > .service_container_wrapper > .service_numbers {
    color: pink;
    font-size: 2.5em;
    padding-bottom: 10px;
}
#work_section {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#work_section > .work_section_header {
    padding: 15px;
    color: #000;
    border-bottom: 2px solid pink;
    width: 15%;
    margin: 0px auto;
    padding-top: 6rem;
}
#work_section > .work_section_head_content {
    text-align: center;
    padding: 15px;
    font-size: 2.3em;
    color: #000;
    width: 52%;
    margin: 0px auto;
}
#work_section > .work_wrapper {
    width: 95%;
    margin: 0px auto;
}
#work_section > .work_wrapper div {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin: 10px;
    padding: 10px;
    text-align: center;
}
#work_section > .work_wrapper div > .work_holder_img > a > img {
    width: 80%;
    height: 300px;
    box-shadow: 0px 2px 4px 0px;
}
#work_section > .work_wrapper div .work_holder_img > a > img:hover {
    box-shadow: 0px 2px 4px 2px #000;
}

@media screen and (max-width: 576px) {
    .service_container {
        flex-direction: column;
    }
    #service > .service_header {
        padding: 15px;
        color: #fff;
        border-bottom: 1px solid pink;
        width: 25%;
        margin: 0px auto;
        padding-top: 6rem;
    }
    #service > .service_head_content {
        text-align: center;
        padding: 15px;
        font-size: 1.7em;
        color: #fff;
        width: 70%;
        margin: 0px auto;
    }
    #work_section > .work_section_header {
        padding: 15px;
        color: #000;
        border-bottom: 2px solid pink;
        width: 33%;
        margin: 0px auto;
        padding-top: 6rem;
    }
    #work_section > .work_section_head_content {
        text-align: center;
        padding: 15px;
        font-size: 1.7em;
        color: #000;
        width: 70%;
        margin: 0px auto;
    }
    #work_section > .work_wrapper {
        width: 100%;
        margin: 4rem 0rem 6rem 0rem;
    }
    #work_section > .work_wrapper div {
        flex-direction: column;
    }
    #work_section > .work_wrapper div > .work_holder_img > a > img {
        width: 100%;
        height: 300px;
    }
    #work_section > .work_wrapper div > .work_img > img {
        height: 340px;
        width: 100%;
    }
} 
@media screen and (max-width: 540px) {
    #service > .service_header {
        padding: 15px;
        color: #fff;
        border-bottom: 1px solid pink;
        width: 26%;
        margin: 0px auto;
        padding-top: 6rem;
    }
    #work_section > .work_section_header {
        padding: 15px;
        color: #000;
        border-bottom: 2px solid pink;
        width: 35%;
        margin: 0px auto;
        padding-top: 6rem;
    }
    #work_section > .work_section_head_content {
        text-align: center;
        padding: 15px;
        font-size: 1.7em;
        color: #000;
        width: 85%;
        margin: 0px auto;
    }
}
@media screen and (max-width: 440px) {
    #service > .service_header {
        padding: 15px;
        color: #fff;
        border-bottom: 1px solid pink;
        width: 32%;
        margin: 0px auto;
        padding-top: 6rem;
    }
    #service > .service_head_content {
        text-align: center;
        padding: 15px;
        font-size: 1.7em;
        color: #fff;
        width: 80%;
        margin: 0px auto;
    }
    #work_section > .work_section_header {
        padding: 15px;
        color: #000;
        border-bottom: 2px solid pink;
        width: 43%;
        margin: 0px auto;
        padding-top: 6rem;
    }
    #work_section > .work_section_head_content {
        text-align: center;
        padding: 15px;
        font-size: 1.7em;
        color: #000;
        width: 85%;
        margin: 0px auto;
    }
}

@media screen and (max-width: 414px) {
    #service > .service_header {
        padding: 15px;
        color: #fff;
        border-bottom: 1px solid pink;
        width: 36%;
        margin: 0px auto;
        padding-top: 6rem;
    }
    #service > .service_head_content {
        text-align: center;
        padding: 15px;
        font-size: 1.7em;
        color: #fff;
        width: 80%;
        margin: 0px auto;
    }
    #work_section > .work_section_header {
        padding: 15px;
        color: #000;
        border-bottom: 2px solid pink;
        width: 46%;
        margin: 0px auto;
        padding-top: 6rem;
    }
    #work_section > .work_section_head_content {
        text-align: center;
        padding: 15px;
        font-size: 1.7em;
        color: #000;
        width: 85%;
        margin: 0px auto;
    }
}

@media screen and (max-width: 411px) {
    #service > .service_header {
        padding: 15px;
        color: #fff;
        border-bottom: 1px solid pink;
        width: 34%;
        margin: 0px auto;
        padding-top: 6rem;
    }
    #service > .service_head_content {
        text-align: center;
        padding: 15px;
        font-size: 1.7em;
        color: #fff;
        width: 80%;
        margin: 0px auto;
    }
    #work_section > .work_section_header {
        padding: 15px;
        color: #000;
        border-bottom: 2px solid pink;
        width: 47%;
        margin: 0px auto;
        padding-top: 6rem;
    }
    #work_section > .work_section_head_content {
        text-align: center;
        padding: 15px;
        font-size: 1.7em;
        color: #000;
        width: 85%;
        margin: 0px auto;
    }
}

@media screen and (max-width: 380px) {
    #service > .service_header {
        padding: 15px;
        color: #fff;
        border-bottom: 1px solid pink;
        width: 37%;
        margin: 0px auto;
        padding-top: 6rem;
    }
    #service > .service_head_content {
        text-align: center;
        padding: 15px;
        font-size: 1.7em;
        color: #fff;
        width: 85%;
        margin: 0px auto;
    }
    #work_section > .work_section_header {
        padding: 15px;
        color: #000;
        border-bottom: 2px solid pink;
        width: 49%;
        margin: 0px auto;
        padding-top: 6rem;
    }
    #work_section > .work_section_head_content {
        text-align: center;
        padding: 15px;
        font-size: 1.7em;
        color: #000;
        width: 90%;
        margin: 0px auto;
    }
}

@media screen and (max-width: 375px) {
    #service > .service_header {
        padding: 15px;
        color: #fff;
        border-bottom: 1px solid pink;
        width: 38%;
        margin: 0px auto;
        padding-top: 6rem;
    }
    #service > .service_head_content {
        text-align: center;
        padding: 15px;
        font-size: 1.6em;
        color: #fff;
        width: 85%;
        margin: 0px auto;
    }
    #work_section > .work_section_header {
        padding: 15px;
        color: #000;
        border-bottom: 2px solid pink;
        width: 51%;
        margin: 0px auto;
        padding-top: 6rem;
    }
    #work_section > .work_section_head_content {
        text-align: center;
        padding: 15px;
        font-size: 1.6em;
        color: #000;
        width: 90%;
        margin: 0px auto;
    }
}

@media screen and (max-width: 360px) {
    #service > .service_header {
        padding: 15px;
        color: #fff;
        border-bottom: 1px solid pink;
        width: 39%;
        margin: 0px auto;
        padding-top: 6rem;
    }
    #service > .service_head_content {
        text-align: center;
        padding: 15px;
        font-size: 1.7em;
        color: #fff;
        width: 85%;
        margin: 0px auto;
    }
    #work_section > .work_section_header {
        padding: 15px;
        color: #000;
        border-bottom: 2px solid pink;
        width: 53%;
        margin: 0px auto;
        padding-top: 6rem;
    }
    #work_section > .work_section_head_content {
        text-align: center;
        padding: 15px;
        font-size: 1.7em;
        color: #000;
        width: 90%;
        margin: 0px auto;
    }
}

@media screen and (max-width: 320px) {
    #service > .service_header {
        padding: 15px;
        color: #fff;
        border-bottom: 1px solid pink;
        width: 44%;
        margin: 0px auto;
        padding-top: 6rem;
    }
    #service > .service_head_content {
        text-align: center;
        padding: 15px;
        font-size: 1.4em;
        color: #fff;
        width: 85%;
        margin: 0px auto;
    }
    #work_section > .work_section_header {
        padding: 15px;
        color: #000;
        border-bottom: 2px solid pink;
        width: 58%;
        margin: 0px auto;
        padding-top: 6rem;
    }
    #work_section > .work_section_head_content {
        text-align: center;
        padding: 15px;
        font-size: 1.4em;
        color: #000;
        width: 90%;
        margin: 0px auto;
    }
}

@media screen and (max-width: 280px) {
    #service > .service_header {
        padding: 15px;
        color: #fff;
        border-bottom: 1px solid pink;
        width: 51%;
        margin: 0px auto;
        padding-top: 6rem;
    }
    #service > .service_head_content {
        text-align: center;
        padding: 15px;
        font-size: 1.4em;
        color: #fff;
        width: 85%;
        margin: 0px auto;
    }
    #work_section > .work_section_header {
        padding: 15px;
        color: #000;
        border-bottom: 2px solid pink;
        width: 66%;
        margin: 0px auto;
        padding-top: 6rem;
    }
    #work_section > .work_section_head_content {
        text-align: center;
        padding: 15px;
        font-size: 1.4em;
        color: #000;
        width: 90%;
        margin: 0px auto;
    }
}

@media screen and (min-width: 577px) and (max-width: 600px) {
    .service_container {
        flex-direction: column;
    }
    #service > .service_header {
        padding: 15px;
        color: #fff;
        border-bottom: 1px solid pink;
        width: 25%;
        margin: 0px auto;
        padding-top: 6rem;
    }
    #service > .service_head_content {
        text-align: center;
        padding: 15px;
        font-size: 1.7em;
        color: #fff;
        width: 70%;
        margin: 0px auto;
    }
    .service_container > .service_container_wrapper {
        margin: 10px;
        padding: 10px;
        text-align: center;
        font-size: 1.4em;
    }
    .service_container > .service_container_wrapper > .service_numbers {
        color: pink;
        font-size: 2.5em;
        padding-bottom: 10px;
    }
    #work_section > .work_section_header {
        padding: 15px;
        color: #000;
        border-bottom: 2px solid pink;
        width: 32%;
        margin: 0px auto;
        padding-top: 6rem;
    }
    #work_section > .work_section_head_content {
        text-align: center;
        padding: 15px;
        font-size: 1.7em;
        color: #000;
        width: 70%;
        margin: 0px auto;
    }
    #work_section > .work_wrapper {
        width: 100%;
        margin: 4rem 0rem 6rem 0rem;
    }
    #work_section > .work_wrapper div {
        flex-direction: column;
    }
    #work_section > .work_wrapper div > .work_holder_img > a > img {
        width: 100%;
        height: 300px;
    }
    #work_section > .work_wrapper div > .work_img > img {
        height: 340px;
        width: 100%;
    }
}

@media screen and (min-width: 601px) and (max-width: 650px) {
    .service_container {
        flex-direction: column;
    }
    #service > .service_header {
        padding: 15px;
        color: #fff;
        border-bottom: 1px solid pink;
        width: 24%;
        margin: 0px auto;
        padding-top: 6rem;
    }
    #service > .service_head_content {
        text-align: center;
        padding: 15px;
        font-size: 1.7em;
        color: #fff;
        width: 70%;
        margin: 0px auto;
    }
    .service_container > .service_container_wrapper {
        margin: 10px;
        padding: 10px;
        text-align: center;
        font-size: 1.4em;
    }
    .service_container > .service_container_wrapper > .service_numbers {
        color: pink;
        font-size: 2.5em;
        padding-bottom: 10px;
    }
    #work_section > .work_section_header {
        padding: 15px;
        color: #000;
        border-bottom: 2px solid pink;
        width: 31%;
        margin: 0px auto;
        padding-top: 6rem;
    }
    #work_section > .work_section_head_content {
        text-align: center;
        padding: 15px;
        font-size: 1.7em;
        color: #000;
        width: 70%;
        margin: 0px auto;
    }
    #work_section > .work_wrapper {
        width: 100%;
        margin: 4rem 0rem 6rem 0rem;
    }
    #work_section > .work_wrapper div {
        flex-direction: column;
    }
    #work_section > .work_wrapper div > .work_holder_img > a > img {
        width: 100%;
        height: 300px;
    }
    #work_section > .work_wrapper div > .work_img > img {
        height: 340px;
        width: 100%;
    }
}

@media screen and (min-width: 651px) and (max-width: 992px) {
    .service_container {
        flex-direction: column;
    }
    #service > .service_header {
        padding: 15px;
        color: #fff;
        border-bottom: 1px solid pink;
        width: 23%;
        margin: 0px auto;
        padding-top: 6rem;
    }
    #service > .service_head_content {
        text-align: center;
        padding: 15px;
        font-size: 1.7em;
        color: #fff;
        width: 70%;
        margin: 0px auto;
    }
    .service_container > .service_container_wrapper {
        margin: 10px;
        padding: 10px;
        text-align: center;
        font-size: 1.4em;
    }
    .service_container > .service_container_wrapper > .service_numbers {
        color: pink;
        font-size: 2.5em;
        padding-bottom: 10px;
    }
    #work_section > .work_section_header {
        padding: 15px;
        color: #000;
        border-bottom: 2px solid pink;
        width: 29%;
        margin: 0px auto;
        padding-top: 6rem;
    }
    #work_section > .work_section_head_content {
        text-align: center;
        padding: 15px;
        font-size: 1.7em;
        color: #000;
        width: 70%;
        margin: 0px auto;
    }
    #work_section > .work_wrapper {
        width: 100%;
        margin: 4rem 0rem 6rem 0rem;
    }
    #work_section > .work_wrapper div {
        flex-direction: column;
    }
    #work_section > .work_wrapper div > .work_holder_img > a > img {
        width: 100%;
        height: 300px;
    }
    #work_section > .work_wrapper div > .work_img > img {
        height: 340px;
        width: 100%;
    }
}